span{
	overflow: auto;
	float: left;
	display: inline-block;
	height: 80px;
	width: 50px;
	background: #00ffff;
}

div{
	clear: left;
	/*display: inline-grid;*/
	height: 100px;
	width: 50%;
	background: #ff0fff;	
}

p{
	display: inline-block;
	height: 100px;
	width: 150px;
	background: #000fff;
}