body{
	background: rgb(50,50,50);
}

h2{
	font-size: 1em;
	margin: 0px 0px -40px;
}

div{
	border: solid 1px rgb(100, 100, 100);
	font-size: 2.5em;
	text-align: center;
}

p{
	font-family: sans-serif;
}