body{
	padding: 2%;
	background-image: url("./media/players1.png");
	background-position: top center;
	background-size: 95%;
}

header{
	display: block;
	height: 10vw;
	text-align: center;
	/*background-image: url("C:/My_content/Learnings/Front End/HTML5_CSS_JS/HTML/media/players1.png");*/
	/*margin-top: 0px;*/
	margin: 0;
	padding-top: 1vw;
	/*background-position: top center;*/
	/*background-size: %;*/
}

header h1{
	color: white;
	padding-top: 0vw;
	margin: 0vw;
	font-size: 3vw;
}

header a{
	display: inline-block;
	color: black;
	background: rgba(255,200,255,0.3);
	width: 15%;
	height: 2vw;
	margin: 0 auto;
	margin-right: 4vw;
	margin-left: 4vw;
	margin-top: 2vw;
	text-decoration: none;
	font-size: 1.5vw;
	font-weight: bolder;
}

div{
	padding: 1%;
	display: inline-block;
	float: left;
	text-align: top;
	background: rgba(255,255,255,0.7);
	width: 60%;
	font-size: 1.5vw;
}

figure{
	background: darkgreen;
	display: inline-block;
	float: left;
	width: 25%;
}

header a{
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	-o-border-radius: 5%;
	border-radius: 5%;
}

img{
	text-align: center;
	border: 0.2vw solid black;
	margin: 4vw;
	margin-bottom: 0;
	width: 15vw;
	height: 10vw;
}

.inline{
	margin: 0;
}

.act{
	background: white !important;
}

nav a:visited{
	background: orange;
}
	
nav a:hover, nav a:focus{
	background: rgb(200,200,200,0.8);
}

main a{
	text-decoration: none;
}

main a:visited{
	color: purple;
}
	
main a:hover, main a:focus{
	text-decoration: underline;
}

